# Ignore build artifacts and compiled files
node_modules/
build/
dist/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore OS-specific files
Thumbs.db
.DS_Store
